/* *{
    padding :0;
    margin: 0;
} */


body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

/* shared design */
.section-title{
    color: black;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}

.orange{
    color: #FD6E0A;
}

/* shared design */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight:800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    color: white;
}

.btn-contact{
    border-radius: 5px;
    background-color: #FFF8F3;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    color:#FD6E0A;
    border: 2px solid #FD6E0A;
    cursor: pointer;

}
.btn-contact:hover{
    background: #FD6E0A;
    color: white;
    transition: all 0.5s
}

.header{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    /* background-image: url(/images/developer.png); */
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* .header{
    background-image: url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom left;
} */

.banner{
    padding: 30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {

    width: 500px;
}

.banner-greeting{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 20px;
}

.banner-description{

}
.banner-content{
    max-width: 500px;
}


/* main section start */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

.about{
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-info-container{
    display:flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

.info-description{
    margin-top:-12px;
    /* font-weight:bold; */
}

#what-i-do-description{
    padding: 30px 150px;
}

/* skills related css start*/

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}

.skill-description{
    color: #757575;
}
/* skills related css end*/

/* Resume section style */

.resume-column-title{
    color:#474747;
    font-size: 30px;
    font-weight: 700;
}


/* main section end */